.dashboard-page {
  width: 100vw;
  min-height: 100vh;
  background: #cf455c;
  display: flex;
  justify-content: center;
  padding: 40px;
  position: relative;
  z-index: 0;
}


/* MAIN GARDEN CANVAS */
.garden-frame {
  width: 100%;
  max-width: 1400px;
  background: #fffdec;
  border-radius: 40px;
  padding: 30px;
  position: relative;
  z-index: 10;
}

button {
  color: #e891ad;
  background: #e891ad;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
}


/* TOP BAR */
.garden-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffb3b3;
  padding: 16px 24px;
  border-radius: 20px;
  color: #472d2d;

}



/* CONTENT GRID */
.garden-content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 24px;
}

/* SIDE PANELS */
.side-panel {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: #fff8e8;
  border-radius: 18px;
  padding: 20px;
  font-weight: 600;
  color: #472d2d; /* DARK BROWN TEXT */
}


/* CENTER AREA */
.center-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.chart-row {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.category-bar {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 10px;
}

.category-box {
  width: 60px;
  height: 20px;
  border-radius: 6px;
}

.red { background: #cf455c; }
.pink { background: #ff9898; }
.yellow { background: #ffe2a7; }
.purple { background: #704f4f; }

/* TREES AROUND FRAME */
.tree-left,
.tree-right,
.tree-bottom {
  position: absolute;
  z-index: 1;
  pointer-events: none; /* IMPORTANT */
}

.tree-left {
  left: -260px;
  top: 120px;
  transform: rotate(-18deg);
}

.chart-row, p{
    color:#971549;
}

.tree-right {
  right: -280px;
  top: 60px;
  transform: rotate(14deg);
}

.tree-bottom {
  bottom: -320px;
  left: 28%;
  transform: rotate(-10deg);
}

.garden-title{
  font-size: 24px;
  color: #971549;
  text-align: center;
}

.click {
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  background-color: #e891ad;
}

.click:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

