#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body{
  background-color: #CF455C;
  font-family: 'comic sans ms', sans-serif;

}

.app-header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: center;
  margin-bottom: 1.25rem;
  background-color: #F5AFAF;

}

.app-header .logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 50%;
  background: linear-gradient(180deg,#fbefef,#fcf8f8);
  padding: 6px;
  box-shadow: 0 6px 18px rgba(59,43,59,0.06);
}

.app-header h1 {
  font-family: 'comic sans ms', sans-serif;
  margin: 0;
  color: #971549;
  font-size: 2.5rem;;
}

button{
  margin: 0px 10px;
}

input{
  width: 80%;
  text-align: center;
  height: 30px;
  background-color: #FBEFEF;
  border-radius: 8px;
  border: none;
  font-family: 'comic sans ms', sans-serif;
}

input[type="password"]{
  letter-spacing: 0.3em;
  color:#971549;
}

button{
  background-color: #971549;
  color:white;
}


.form{
  border-radius: 18%;
  padding: 40px;
  background-color: #F5AFAF;
  max-width: 400px;
  margin: 40px auto;
}

.access{
  background-color: #f5cccc;
  color: rgb(53, 12, 25);
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 10px;
}

.dashboard-page {
  width: 100vw;
  min-height: 100vh;
  background: #cf455c; /* berry red */
  display: flex;
  justify-content: center;
  
}
